.mybox {
	background: #080;
	padding: -10;
}

view.mybox {
	padding: 10;
}

pause-menu {
	max-width: 300;
	layout: vertical;
}

title-menu {
	max-width: 300;
	layout: vertical;
}

button {
	background: #444;
	fill-width: true;
	fill-height: true;
	height: 60;
	margin : 50 40;
}

button.highlight {
	background: #a33;
}

button text {
	align: middle middle;
}

button:hover {
	background: #777;
}

button:active {
	background: #222;
}
